<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/chamados?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.hbm2ddl.auto">upupdate</property>
    <mapping resource="br/com/chamados/model/Empresa.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Usuario.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Chamado.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Estado.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Origim.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Permissoes.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Pais.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Funcao.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Cidade.hbm.xml"/>
    <mapping resource="br/com/chamados/model/CategoriaUm.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Nivel.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Funcionario.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Acompanhamento.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Setor.hbm.xml"/>
    <mapping resource="br/com/chamados/model/CategoriaDois.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Bairro.hbm.xml"/>
    <mapping resource="br/com/chamados/model/CategoriaTres.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Prioridade.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Interacao.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Tela.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Situacao.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Auditoria.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Origem.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Pessoa.hbm.xml"/>
    <mapping resource="br/com/chamados/model/Tipo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
